table {
  background: lightblue;
  border: 1px solid black;
  border-collapse: collapse;
  margin: 0 auto;
}
td {
  border: 1px solid black;
  background: url('../images/water.jpg');
  background-size: 25px 25px;
}
td.x {
  background: url('../images/hit.jpg');
  background-size: 25px 25px;
}
td.o {
  background: url('../images/miss.jpg');
  background-size: 25px 25px;
}
td.c.human, td.b.human, td.r.human, td.s.human, td.d.human {
  background: url('../images/ship-tile.jpg');
  background-size: 25px 25px;
}
h1, h2 {
  text-align: center;
}

#message-box {
  display: block;
  margin: 50px auto 0px;
  resize: none;
  overflow: auto;
}

button {
  display: block;
  margin: 10px auto 0px;
}